<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.max.wapp_sticker_store">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:name="com.max.wapp_sticker_store.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--############################ INICIO FIREBASE ############################-->

        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icono" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!--############################ FIN FIREBASE ############################-->
        <activity android:name="com.max.wapp_sticker_store.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9264039269209206~5309104874"/>
        <activity
            android:name="com.max.wapp_sticker_store.EntryActivity"
            android:parentActivityName="com.max.wapp_sticker_store.EntryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.intent.action.PARENT_ACTIVITY"
                android:value="com.max.wapp_sticker_store.EntryActivity" />
        </activity>
        <activity android:name="com.max.wapp_sticker_store.StickerPackListActivity" />
        <activity
            android:name="com.max.wapp_sticker_store.StickerPackDetailsActivity"
            android:parentActivityName="com.max.wapp_sticker_store.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.max.wapp_sticker_store.StickerPackListActivity" />
        </activity>
        <activity
            android:name="com.max.wapp_sticker_store.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.max.wapp_sticker_store.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.max.wapp_sticker_store.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.max.wapp_sticker_store.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>